/* Colors
#ed7b03 - orange (goes w/purple)
#301096 -purple (goes w/orange)
#78d5ec - skyblue (goes w/outerspace)
#294f5d - outer space (goes w/skyblue)
#f6ea86 - Yellow (goes w/purple heart)
#6732c2 - purple heart (goes w/yellow and robin egg blue and piggy pink)
#4debe7 - robin egg blue (goes w/purple heart)
#e3d5e1 - piggy pink (goes with purple heart)
#4a4faa - blue violet (goes with aquamarine)
#aff6f5 - aquamarine (goes with blue violet)
#b67a99 - mauvelous (goes w/midnight blue)
#142054 - midnight blue (goes with mauvelous)
#faffd4 - spring green
*/


/* Global
--------------------*/
 body {
     font-size: 18px;
   }


     /* Profile
--------------------*/
header {
  background-color:#142054;
  color:#e3d5e1;
  
}

/* Projects
--------------------*/
.project {
  background-color:#faffd4;
  
}


/* Work
--------------------*/
.work {
  background-color: #faffd4;
}


/* Education
--------------------*/
.education {
  background-color: #faffd4;

}
/* Contact
--------------------*/
footer {
  background-color:#142054;
  color: #e3d5e1
 
